<h2>Company Info</h2>
<div class="block default">

  @if (companyInfo$|async; as companyData) {
    <p><strong>Name:</strong> {{ companyData.name }}</p>
    <p><strong>Address:</strong> {{ companyData.address }}</p>
    <p><strong>Phones:</strong> {{ companyData.phones.join( ', ' ) }}</p>
  } @else {
    @if (isLoading()) {
      Loading...
    } @else {
      Data couldn't be found.
    }
  }
</div>

<h2>Invoice Items</h2>
@let items = validItems();
@if (formService.wasSubmitted() && items.length > 0) {
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Count</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
      @for (item of items; track item) {
        <tr>
          <td>{{ item.get( 'name' )?.value }}</td>
          <td>{{ item.get( 'count' )?.value }}</td>
          <td>{{ item.get( 'price' )?.value }}</td>
        </tr>
      }
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2"><strong>Total</strong></td>
      <td>{{ total() }}</td>
    </tr>
    </tfoot>
  </table>
} @else {
  <p>No items</p>
}
