body {
  margin: 0;
  font-family: "Inter", serif;
}

.block {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.default {
  border: 2px solid darkslategray;
}

.error {
  border: 2px solid darkred;
}
